.home-banner {
	background-image: url('https://res.cloudinary.com/dtjyx4v7z/image/upload/v1585242892/QT3rjYYE1vNKd5FkxRiTbBEk.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	color: #eee;
	text-align: center;
	padding-top: 40vh;
}
